@import './scss/base';
@import './scss/variables';

@import './scss/mixins';
@import './scss/animations';
@import './scss/classes';
@import './scss/responsive';

// ========================================  variable à definir ========================================

.panel {
    height: 100%;
    width: 65%;
    min-width: 50rem;
    position: absolute;
    left: -25rem;
    transform: skew(20deg);
}

.burger {
    justify-content: flex-end;
    width: 100%;
    padding: 2rem 3rem;
    display: none;
}

header {
    width: 75%;
    height: 75%;
    border-radius: 8px;
    box-shadow: 1px 3px 15px var(--shadow);
    position: relative;
    background-color: #fff;



    .container-nav {
        display: flex;
        margin-bottom: 4rem;

        nav {
            width: 100vw;
            display: flex;
            align-items: center;

            &:nth-of-type(2) {
                flex: 2;
            }

            .link {
                margin: 2rem 3rem;
                padding: .5rem 0;
                border-bottom: 2px solid transparent;
                display: inline-block;
                z-index: 10;
            }
        }

    }

    .header-skill {
        height: 30rem;
        padding: 0 3rem;


        .circle {
            height: 26rem;
            width: 26rem;
            border-radius: 100%;
        }
    }

    .header-project {
        display: flex;
        @include flex(column, center, flex-start);
        background-image: linear-gradient(#00000038, #00000038), url("https://cdn.pixabay.com/photo/2017/08/01/00/16/apple-2562204_960_720.jpg");
        background-size: cover;
        background-position: center;
        height: 100%;
        color: #fff;
        font-size: 1.6rem;
        letter-spacing: 1px;
        text-align: center;

        h1 {
            padding-top: calc((100vh - 335.09px) / 2);
            max-width: 90%;
            margin: 2rem auto;
        }

    }

    .skill {
        width: 35%;
        line-height: 1.5rem;

    }
}


.container-icons {
    height: 35rem;
    padding: 1rem;

    .icons-content {
        width: 7rem;
        height: 7rem;
        box-shadow: 0 0 4px var(--shadow);
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 50%;
        background: #fff;
        font-size: 2.2rem;

        &:hover {
            transform: scale(1.1);
        }
    }
}


main {
    .test-content {
        flex-wrap: wrap;
        margin: 20rem 0;

        .project {
            width: 46%;

            img {
                width: 100%;
                height: 25rem;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }

            @media (max-width: 1090px) {
                width: 100%;
                margin: 2rem;
            }
        }
    }
}



.form-content {
    padding: 1rem;
    width: 80%;
    margin: 4rem auto;
    border-radius: 5px;

    .form-group {
        margin-bottom: 2rem;

        label {
            margin-right: 1rem;
            margin-top: 1rem;
            margin-bottom: .5rem;
        }

        input,
        select,
        textarea {
            padding: 1.3rem .5rem;
            width: 100%;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            color: var(--text-dark);
            font-size: smaller;

            sans-serif option {
                font-size: .9rem;
            }

            &:focus {
                outline: 1px solid #4fb0c9;
                font-size: small;

            }

            &::placeholder {
                font-style: italic;
                color: #b4b4ab;
            }
        }


    }

    .btn {
        margin-top: 1rem;
    }
}


footer {
    height: 30rem;
    background-color: rgb(31, 31, 31);
}