.container-header {
  height: 100vh;
  background-color: #fafafa;

}

.container {
  width: 75%;
  margin: 0 auto;
}

.shadow-none {
  box-shadow: none;

}

.h-100 {
  height: 100%;
}

.icon {
  font-size: 1.7rem;
  display: block;
  cursor: pointer;
  color: var(--color-react);
}

.flex {
  display: flex;

  &-row-center {
    @include flex(row, center, center);
  }

  &-row-between {
    @include flex(row, space-between, center);
  }

  &-row-around {
    @include flex(row, space-around, center);
  }

  &-column-center {
    @include flex(column, center, center);
  }

  &-column-between {
    @include flex(column, space-between, center);
  }

  &-column-around {
    @include flex(column, space-between, center);
  }

}


.icon-lg {
  font-size: 10rem;
  padding: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #3b3b3b !important;
}

.active {
  border-bottom: 2px solid var(--color-react) !important;
}

.fa-html5,
.fa-java {
  color: var(--color-html);
}

.fa-react,
.fa-css3 {
  color: var(--color-react);
}

.fa-node-js {
  color: var(--color-node);
}

.fa-js {
  color: var(--color-js);
}

.fa-php,
.fa-symfony {
  color: var(--color-php)
}



//animations classes

.opacity-animation {
  animation: opacity 1.5s ease-in both;
}

.size-animation {
  animation: size .8s ease-in 1.5s both;
}

.opacity-animation-reverse {
  animation: opacity 1s ease-in reverse;

}

.scroll-animation {
  animation: scroll 1s ease-in both;

}

.scale-animation {
  animation: scale 1s ease-in;
}

.translateDown-animation {
  animation: translate-down 1s ease-out 3.5s infinite alternate-reverse;
}

.height-animation {
  animation: height 1s ease-in;
}

.rotate-animation {
  animation: rotate 1s ease-in;
}

.translateRight-animation {
  animation: translate-right 1s ease-in;
}

.translateLeft-animation {
  animation: translate-left 1s ease-in;
}

.translateUp1-animation {
  animation: translate-up .8s ease-in-out .6s both;
}

.translateUp2-animation {
  animation: translate-up .8s ease-in-out 1s both;
}

.translateUp3-animation {
  animation: translate-up .8s ease-in-out 2.5s both;
}

.translateDownFinit-animation {
  animation: translate-down-finit .8s ease-in-out 2.5s both;
}